.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* ให้เต็มหน้าจอ */
    padding: 20px;
    box-sizing: border-box;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Anuphan', sans-serif;
    font-weight: bold;
    color: #333;
}

.ant-form-item {
    margin-bottom: 15px;
}

.ant-input,
.ant-input-password {
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Anuphan', sans-serif;
}

.ant-btn-primary {
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 auto;
}

.ant-form-item:last-child {
    margin-top: 20px;
}

.ant-form-item-explain-error {
    color: #ff4d4f;
    font-size: 14px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .parcel-table th, .parcel-table td {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .parcel-image {
        width: 80px; /* Smaller image size for mobile */
    }

    .modal-content {
        width: 95%; /* Ensure modal fits on smaller screens */
    }
}