/* MaintenanceList.css */

.maintenance-list-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.maintenance-list-container {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.ant-list-item {
    border: 1px solid #585858;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    
}

.ant-list-item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ant-modal-title {
    font-size: 20px;
    font-weight: bold;
}

.ant-modal-body {
    text-align: left;
    
}

.ant-modal-body img {
    display: block;
    margin: 10px 0;
    border-radius: 5px;
}

.ant-modal-footer {
    display: none; /* Hide footer since we don't need it */
}
