.parcel-form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Anuphan', sans-serif; /* Use your preferred font */
}

.parcel-form div {
    margin-bottom: 15px;
}

.parcel-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    text-align: left;
}

.parcel-form input[type="text"],
.parcel-form input[type="file"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 14px;
    color: #333;
}

.checkbox-group input {
    margin-right: 5px;
}

.checkbox-group i {
    margin-right: 5px;
    color: #555;
}

.parcel-form button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.parcel-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .parcel-table th, .parcel-table td {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .parcel-image {
        width: 80px; /* Smaller image size for mobile */
    }

    .modal-content {
        width: 95%; /* Ensure modal fits on smaller screens */
    }
}