.showelectricity-container{
    align-items: center;
    font-family: "Anuphan", sans-serif;
}

.showelectricityr {
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 20px auto;
}

.showelectricityr h3{
    text-align: center;
    font-weight: 700;
    padding-bottom: 5px;
    color: royalblue;
}

.table th{
    text-align: center;
}